*.bak
*.csv
*.dat
*.DS_Store
*.gz
*.log
*.out
*.pid
*.seed
*.swo
*.swp
*.sublime-project
*.sublime-workspace
*.tmp

.DS_Store
.buildpath
.idea/
.log
.project
.sass-cache
.settings
.tmpoj

php_errors.log
auth_info.js
build
desktop.ini
dist
doc/
examples/*/log/*
lib-cov
node_modules
logs
pids
results
spec/browser/autogen_suite.js
tags
Thumbs.db
tmtags
v8.log