/* Content styles: 'content' */

/* Typography */
@font-face {
    font-family: 'entypo_socialregular';
    src: url('../fonts/entypo-social.eot');
    src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-social.woff') format('woff'),
         url('../fonts/entypo-social.ttf') format('truetype'),
         url('../fonts/entypo-social.svg#entypo_socialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo_regular';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Headings */
h1, h2, h3, h4, h5 {
	color: $color-base;
	font-family: $andada;
	font-weight: bold;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

h1, .h1 {
	font-size: 2.6em;
}

h2, .h2 {
	font-size: 2em;
}

h3, .h3 {
	font-size: 1.6em;
}

h4, .h4 {
    font-size: 1.3em;
}

h5, .h5 {
    font-size: 1em;
}

p {
	line-height: 1.6em;
	margin: 0;
	padding-bottom: 1em;
}



/* Links */

a {
    color: #27a9e1;
    text-decoration: none;
    @include transition(background-color, .25s);
}

a:hover {
    color: darken(#27a9e1, 10%);
}



/* Header */

.site-header {
    background-color: $color-white;
    background-color: rgba(240,240,240,1);
    border-bottom: solid 1px $color-border;
    padding: 1.8em 0em;
    text-align: center;
}

.site-logo {
	text-align: center;
    @include transition(opacity, 0.2s);
}

.site-logo:hover {
    opacity: 0.7;
}

.nav {
	margin-top: 1em;
}

.nav li {
    display: inline-block;
    padding: 0.15em 1em;
    text-align: center;
    vertical-align: middle;
    @include transition(color, 0.1s);
}

.nav li a {
    color: $color-base;
}

.nav li:hover, .nav li a:hover {
    color: $color-primary;
    cursor: pointer;
}



/* Footer */

.footer-title {
	font-size: 0.9em;
	font-weight: bold;
}

footer li {
	padding-bottom: 0.2em;
}

footer p {
	color: $color-tertiary;
	font-size: 0.75em;
}

footer a {
	color: $color-base;
	font-size: 0.8em;
	line-height: 0.8em;
}

footer a:hover {
    color: $color-primary;
}



/* Lists */

li, ul {
    list-style: none;
    padding: 0em 0em 0.5em;
    margin: 0;
}

li a .extra {
    float: right;
    font-weight: normal;
}

li:hover a .extra {
    display: inline-block;
    float: right;
}

.checkmarks li {
	border-top: 1px solid #eee;
	padding: 0.8em 0em;
}

.checkmarks li:last-child {
	border-bottom: 1px solid #eee;
}

.checked {
    cursor: pointer;
    color: $color-good;
    display: block;
    @include transition(opacity, .25s);
}

.unchecked {
	color: $color-base;
    font-weight: normal;
    @extend .checked;
}

.checked:hover, .unchecked:hover {
    opacity: 1.5;
}



/* Background Colors */

.bg-primary {
	background-color: $color-primary;
}
.bg-secondary {
	background-color: $color-secondary;
}
.bg-tert {
	background-color: $color-tertiary;
}
.bg-quad {
	background-color: $color-quaternary;
}
.bg-gradient {
   background-color: #fff;
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f3f3f3));
   background-image: -webkit-linear-gradient(top, #fff, #f3f3f3);
   background-image: -moz-linear-gradient(top, #fff, #ededed);
   background-image: -ms-linear-gradient(top, #fff, #ededed);
   background-image: -o-linear-gradient(top, #fff, #ededed);
}



/* Text Colors */

.primary {
	color: $color-primary;
}

.secondary {
	color: $color-secondary;
}

.tert {
	color: $color-tertiary;
}

.quad {
	color: $color-quaternary;
}



/* Components */

.hr {
	border-bottom: 1px solid $color-border;
}

.amount {
	display: block;
	font-size: 2em;
	font-weight: bold;
}

.highlight-text-subtle {
    display: none;
}

.lower-block {
    background-color: $color-quaternary;
    border: solid 1px darken($color-quaternary, 10%);
    padding: 20px;
}
.spinner {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    margin-left: 0px;
    margin-top: 50px;
}

.value-slider {
	width: 100%;
}

.text-highlight {
	color: #ff5500;
}



/* Entypo */

.entypo {
    font-family: $entypo;
}

.entypo-icon {
	display: inline-block;
	float: right;
    font-family: $entypo;
    font-weight: normal;
    font-size: 2.4em;
    line-height: 0.6em;
}

.entypo-icon-lg {
	display: inline-block;
	float: right;
    font-family: $entypo;
    font-weight: normal;
    font-size: 2.8em;
    line-height: 0.8em;
}

.entypo-checked {
    font-family: $entypo;
    font-weight: normal;
    font-size: 2em;
    padding: 0em 0.3em;
    display: inline-block;
    background-color: $color-good;
    color: $color-good-text;
    border: solid 2px $color-good;
    @include round(5px);
    margin-right: 0.2em;
}

.entypo-unchecked {
    @extend .entypo-checked;
    background-color: $color-white;
    color: $color-tertiary;
    border-color: $color-border;
}

a.tert:hover {
	color: darken($color-tertiary, 15%);
}

